@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
	color: #fff;
  background-image: url("/pictures/25552.jpg");
	background-repeat: no-repeat;
  background-position: center center;
  background-color: #002046;
  background-size: 100%;
  background-position: center top;
}


.highcharts-figure, .highcharts-data-table table {
  min-width: auto;
  max-width: 800px;
  margin: 1em auto;
  min-height: 360px;
}

.highcharts-data-table table {
	font-family: 'Roboto', sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #9E9E9E;
}


div {
	position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
}

/*row1*/
#rcorners1 {
  font-family: 'Dosis', sans-serif;
  color: orangered;
  font-size: 32px;
  font-weight: 300;
  border-radius: 28px;
  background: #fff;
  padding: 12px; 
  width: 200px;
  height: 45px;
  text-align: center;
  line-height: 44px;
}

#rcorners2 {
  font-family: 'Dosis', sans-serif;
  color: #fff;
  font-size: 32px;
  font-weight: 300;
  border-radius: 28px;
  background: #0B0B0B;
  padding: 12px; 
  width: 95%;
  height: auto;
  text-align: center;
  line-height: 44px;
  position: center center;
}

#rowc1 {
  font-family: 'Dosis', sans-serif;
  color: #fff;
  font-size: 32px;
  font-weight: 300;
  border-radius: 10px;
  background: #282828;
  padding:12px; 
  width: 18%;
  min-width: 250px; 
  height: 150px;
  text-align: center;
  line-height: 44px;
  position: center center;
  margin: .5%;
  float: left;
}

#carimg {
	width: auto;
	height: 75px;
	margin: 5px;
	float: left;
	display: inline;
	border-radius: 10%;
	position: center;
}
#rowtitle {
	font-family: 'Roboto', sans-serif; 
	vertical-align: top;
	margin: 10px
}

#rowdata {
	font-family: 'Roboto', sans-serif;
	position: left;
	text-align: left;
}

#chartborder1 {
	background: #282828;
	border-radius: 12px;
	width: 78.5%;
	min-height: 420px;
	height: auto;
	float: left;
	margin: 10px 10px;
}

#columb1box {
	float: left;
	border-radius: 12px;
	background: #6E02D7;
	height: 420px;
	width: 271px;
	margin: 10px;
}

#columb1 {
	border-radius: 12px;
	background: #282828;
	height: 120px;
	width: 120px;
	margin: 10px 10px 0px 0px;
	float: right;

}


div {
	color: #fff;
}


.wrapper {
	width: 100%;
}

/*.carrow {
	height: 200px;
	overflow-x: scroll;
	overflow-y: hidden;
}*/


.carrow {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.rowc1 {
  display: inline-block;
  }


@media only screen and (max-width : 635px ){
	#rowc1 {
		width: 92%;
	}
	
	#chartborder1 {
		min-width: 98%;
	}
}

