body {
    background: blueviolet;
    overflow: hidden;
}

div.border {
    border-radius: 12px;
    width: 50%;
    height: 90%;
    margin-left: 25%;
    margin-top: 2%;
    background: black;
    position: absolute;
}